﻿<script type="text/template" id="mypage">
<table>
    <thead>
    <tr>
        <td>Category</td>
        <td>Name</td>
        <td>Price</td>
        <td>ID</td>
    </tr>
    </thead>
    <tbody class="prods">
    </tbody>
</table>
</script>
