﻿<script type="text/template" id="hello-world">
    <tr>
        <td><%=Category%></td>
        <td><%=Name%></td>
        <td><%=Price%></td>
        <td><%=Id%></td>
    </tr>
</script>
<script type="text/template" id="test">
    this is template for testings
</script>